body{
    height: 1000vh;
}
.i{
    /* background-color: aqua; */
    position: relative;

    /* top: 100px;
    left : 50px; */
    /* float: ; */
    z-index: 10;
}

.iii{
    background-color: yellow;
    position: relative;
    z-index: 2;
}

.back{
    top: 50px;
    left: 100px;
    background-color: green;
    position: absolute;
    z-index: 3;

    border: gold;
}

.sticky-pos{
    position: sticky;
    top: 15px;
}